.header{

color:red;
background-color:orange;


}

h1{

    border:solid;    
    margin:50px;
   

    
}


a:visited{

color:green;


}

#aboutMe{

text-decoration:none;


}
marquee{

    background-color:yellow;

}

body{


background-color:#4e0cbe;

}

.games{

display:flex;

flex-wrap:wrap;

justify-content:space-evenly;


}

img{


border:solid;
border-color:greenyellow;
opacity:0.5;

}

.attributes:hover img{

    opacity:1;

}

p,h2{


text-align:center;

}

.footer{

display:flex;

justify-content:flex-end;



}

